SmartHome-flow.json
[
    {
        "id": "0b8c19133d2130a7",
        "type": "tab",
        "label": "Smart Home System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99b50cc9e9b502f8",
        "type": "mqtt in",
        "z": "0b8c19133d2130a7",
        "name": "Room_Temp",
        "topic": "Room_T",
        "qos": "2",
        "datatype": "auto",
        "broker": "4be07b048e8b7ca9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "39790a866f989071"
            ]
        ]
    },
    {
        "id": "c0e395722b766ea7",
        "type": "mqtt in",
        "z": "0b8c19133d2130a7",
        "name": "Room_Humd",
        "topic": "Room_H",
        "qos": "2",
        "datatype": "auto",
        "broker": "4be07b048e8b7ca9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "9dc75a2c6566c86e"
            ]
        ]
    },
    {
        "id": "473deaab35b3330b",
        "type": "inject",
        "z": "0b8c19133d2130a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "56",
        "payloadType": "num",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "f84c667bd3cdcf3f"
            ]
        ]
    },
    {
        "id": "40e6dd7d1327ba92",
        "type": "http request",
        "z": "0b8c19133d2130a7",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "iot.luoyanzhang.com:8081/sensor/humid",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 260,
        "wires": [
            [
                "7ce39c79e96a3455"
            ]
        ]
    },
    {
        "id": "f84c667bd3cdcf3f",
        "type": "function",
        "z": "0b8c19133d2130a7",
        "name": "",
        "func": "msg.method = \"POST\"\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nmsg.payload = {\n    'data': msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 260,
        "wires": [
            [
                "40e6dd7d1327ba92"
            ]
        ]
    },
    {
        "id": "7ce39c79e96a3455",
        "type": "debug",
        "z": "0b8c19133d2130a7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "5940b9c6037852e6",
        "type": "function",
        "z": "0b8c19133d2130a7",
        "name": "",
        "func": "msg.method = \"POST\"\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nmsg.payload = {\n    'data': msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "23be9e8f5d463633"
            ]
        ]
    },
    {
        "id": "23be9e8f5d463633",
        "type": "http request",
        "z": "0b8c19133d2130a7",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "iot.luoyanzhang.com:8081/sensor/temp",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "6250e086959f8f64"
            ]
        ]
    },
    {
        "id": "6250e086959f8f64",
        "type": "debug",
        "z": "0b8c19133d2130a7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "d4970d3d49f40d71",
        "type": "mqtt in",
        "z": "0b8c19133d2130a7",
        "name": "",
        "topic": "Room_L",
        "qos": "2",
        "datatype": "auto",
        "broker": "4be07b048e8b7ca9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "353331df1a212f27"
            ]
        ]
    },
    {
        "id": "50a60a5defd16c1c",
        "type": "function",
        "z": "0b8c19133d2130a7",
        "name": "",
        "func": "msg.method = \"POST\"\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nmsg.payload = {\n    'data': msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 680,
        "wires": [
            [
                "38b89406f3577ac0"
            ]
        ]
    },
    {
        "id": "38b89406f3577ac0",
        "type": "http request",
        "z": "0b8c19133d2130a7",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "iot.luoyanzhang.com:8081/sensor/light",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 740,
        "y": 680,
        "wires": [
            [
                "655828402959a97a"
            ]
        ]
    },
    {
        "id": "ddf5ddf3aaa04aac",
        "type": "inject",
        "z": "0b8c19133d2130a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18",
        "payloadType": "num",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "5940b9c6037852e6"
            ]
        ]
    },
    {
        "id": "9dc75a2c6566c86e",
        "type": "delay",
        "z": "0b8c19133d2130a7",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "f84c667bd3cdcf3f"
            ]
        ]
    },
    {
        "id": "39790a866f989071",
        "type": "delay",
        "z": "0b8c19133d2130a7",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "5940b9c6037852e6"
            ]
        ]
    },
    {
        "id": "d4d622e498ba062b",
        "type": "mqtt in",
        "z": "0b8c19133d2130a7",
        "name": "",
        "topic": "Room_M",
        "qos": "2",
        "datatype": "auto",
        "broker": "4be07b048e8b7ca9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "308f0ee075ddd316"
            ]
        ]
    },
    {
        "id": "e6cfea4b77ce9e5c",
        "type": "function",
        "z": "0b8c19133d2130a7",
        "name": "",
        "func": "msg.method = \"POST\"\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 500,
        "wires": [
            [
                "7f934e3f9c777365"
            ]
        ]
    },
    {
        "id": "308f0ee075ddd316",
        "type": "trigger",
        "z": "0b8c19133d2130a7",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "e6cfea4b77ce9e5c",
                "caad105d3037696c"
            ]
        ]
    },
    {
        "id": "5b0bcf0b32a07dd0",
        "type": "inject",
        "z": "0b8c19133d2130a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "308f0ee075ddd316"
            ]
        ]
    },
    {
        "id": "7f934e3f9c777365",
        "type": "http request",
        "z": "0b8c19133d2130a7",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "iot.luoyanzhang.com:8081/sensor/motion",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 740,
        "y": 500,
        "wires": [
            [
                "9aec6e61d541d873"
            ]
        ]
    },
    {
        "id": "655828402959a97a",
        "type": "debug",
        "z": "0b8c19133d2130a7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 680,
        "wires": []
    },
    {
        "id": "353331df1a212f27",
        "type": "delay",
        "z": "0b8c19133d2130a7",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 680,
        "wires": [
            [
                "50a60a5defd16c1c"
            ]
        ]
    },
    {
        "id": "9aec6e61d541d873",
        "type": "debug",
        "z": "0b8c19133d2130a7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "e683a63848e8c840",
        "type": "inject",
        "z": "0b8c19133d2130a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "308f0ee075ddd316"
            ]
        ]
    },
    {
        "id": "caad105d3037696c",
        "type": "debug",
        "z": "0b8c19133d2130a7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "f78ce3b593954fa4",
        "type": "http request",
        "z": "0b8c19133d2130a7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://52.55.213.194:8081/weather?q=12180",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "9eb6b76d7f908346"
            ]
        ]
    },
    {
        "id": "1b77f3d395b54da1",
        "type": "inject",
        "z": "0b8c19133d2130a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 780,
        "wires": [
            [
                "f78ce3b593954fa4"
            ]
        ]
    },
    {
        "id": "9eb6b76d7f908346",
        "type": "json",
        "z": "0b8c19133d2130a7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 780,
        "wires": [
            [
                "826d75ee83060837",
                "892b99b93764554e"
            ]
        ]
    },
    {
        "id": "9f51fa2a92e6e985",
        "type": "mqtt out",
        "z": "0b8c19133d2130a7",
        "name": "",
        "topic": "Room_LCD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4be07b048e8b7ca9",
        "x": 890,
        "y": 780,
        "wires": []
    },
    {
        "id": "826d75ee83060837",
        "type": "function",
        "z": "0b8c19133d2130a7",
        "name": "",
        "func": "msg.payload = Math.round(msg.payload.today.temp_c)*100 + Math.round(msg.payload.today.humidity)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 780,
        "wires": [
            [
                "9f51fa2a92e6e985"
            ]
        ]
    },
    {
        "id": "892b99b93764554e",
        "type": "debug",
        "z": "0b8c19133d2130a7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 860,
        "wires": []
    },
    {
        "id": "4be07b048e8b7ca9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]